<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Record Your Workout</title>
  </head>
  <body>
    <center>
    <h1>Tell Me Everything...</h1>
    <form action=<%="/workouts/#{@workout.id}"%> method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      Results:<br />
      <textarea name="comment" id="comment"></textarea><br />
      <input type="submit" value="submit" id="submit">
    </form>
  </center>
  </body>
</html>
