<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Your Workout, Ya Wimp!</title>
  </head>
  <body>
    <p>Dis Moi Ton Results</p>
    <form action=<%="/workouts/#{@workout.id}"%> method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      Score:<br />
      <textarea name="comment" id="comment"></textarea><br />
      <input type="submit" value="submit" id="submit">
    </form>
  </body>
</html>
