<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Workout Library</title>
  </head>
  <body>
    <center>
    <h1>HopperFit Homepage</h1>
      <h2>Workout Library</h2>
      <a href="/workouts/index">View All Workouts</a></br>
        <h3>Pick Your Poison</h3>
        <a href="/workouts/new">Generate New Workout</a>
    </center>
  </body>
</html>
