<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nuevo Workout</title>
  </head>
  <body>
    <center>
    <h1>Workout Generator</h1>
      <form action="/workouts" method="POST">
        <h2>Time Domain (minutes)  <input type="number" name="hopper[time_domain]" step="1.0" min="5" max="60"></h2>
        <input type="submit" name="submit" value="Go">
    </form>
  </center>l
  </body>
</html>
