<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nuevo Workout</title>
  </head>
  <body>
    <h1>Nuevo Workout</h1>
    <form action="/workouts" method="POST">
      <p>How Long Would You Like To Suffer? <input type="text" name="hopper[time_domain]"></p>
      <p>Discomfort Level <input type="text" name="hopper[level]"></p>
      <input type="submit" name="submit" value="Go">
    </form>
  </body>
</html>

<!-- make drop downs  -->
