<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOPPERFIT</title>
  </head>
  <body>
    <h1>HopperFit Homepage</h1>
    <h3>Pick Your Poison</h3>
    <a href="/workouts/index">View All Workouts</a></br>
    <a href="/workouts/new">Generate New Workout</a>
  </body>
</html>
